<div class="container col-12">
  <div *ngFor= "let product of products; let i = index">
    <div class="container2">
      <div class="images">
        <img src={{product.img}} />
      </div>
      <div class="product">
        <p>Top Rated Cars</p>
        <h1>{{product.title}}</h1>
        <h2>${{product.price}}</h2>
        <p class="desc">{{product.desc}}</p>
        <div class="buttons">
          <button class="add" (click)="addToCart(product)"><i class="fas fa-plus-circle"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
